@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Black+Ops+One&family=Lilita+One&family=Nanum+Gothic+Coding&display=swap');


.commutebutton {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  	position: absolute;
	left:50%;
	width: 300px;
	margin-left: -200px;
  }

.commutebutton:hover {
  background-color: #4167d5;
  box-shadow: 0px 15px 20px rgba(65, 103, 213, 0.5);
  color: #fff;
  transform: translateY(-7px);
}

.list-btn {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
	width: 200px;
  }

.list-btn:hover {
  background-color: #4167d5;
  box-shadow: 0px 15px 20px rgba(65, 103, 213, 0.5);
  color: #fff;
  transform: translateY(-7px);
}



.tables {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  position: absolute;
}
.table-btn {
    padding: 3px 15px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;

}

.bottom-box{
	overflow: auto;
	height: 60vh;
	width: 100%;
	position: relative;
}

.emp-list-btn-box{
	position: absolute;
	top: 10px;
	right: 10px;
}

#clock {
	width: 800px;
	height: 250px;
	line-height: 250px;
	color: #666;
	font-size: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.top-box {
	width: 100%;
	height:400px;
	position: relative;
}

.list-btn-box{
	
	position: absolute;
	top: 10px;
	right: 10px;
}

.month-font{
	display: inline;
	font-size: 50px;
	font-family: 'Nanum Gothic Coding', monospace;
}

.container-box{
	width: 100%;
	margin: 0;
	padding: 10px;
	
}
.commute-list-location{
	width:600px;
	position: absolute;
	left: 50%;
	margin-left:-200px;
	padding: 10px;
	font-family: 'Nanum Gothic Coding', monospace;
} 

.tables > thead > tr > th,
.tables > tbody > tr > th,
.tables > tfoot > tr > th,
.tables > thead > tr > td,
.tables > tbody > tr > td,
.tables > tfoot > tr > td {
    text-align: center;
    padding: 16px;
    vertical-align: top;
    border-top: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    border: none;
}

.tables thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.tables > tbody {
	border: 1px solid #ddd;
	padding: 15px;
}

.tables > thead > tr > th {
	background-color: #68718b;
	color: #fff;
}

   
	


