<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prj.Aproject.section.service.SectionMapper">

	<select id="sectionSelectList" resultType="co.prj.Aproject.section.vo.SectionVO">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM section 
						<if test='search != null &amp;&amp; search != ""'>
							where section_name like '%'||#{search}||'%'
						</if>
						ORDER BY section_sort ASC 
						) A
				)
		<if test='start != null &amp;&amp; start != ""'>
			WHERE RN BETWEEN #{start} AND #{end}
		</if>
	</select>

	<select id="sectionSelectListCount" resultType="int">
		select count(*) from section
		<if test='search != null &amp;&amp; search != ""'>
			where section_name like '%'||#{search}||'%'
		</if>
	</select>
	
	<select id="sectionSelect" parameterType="co.prj.Aproject.section.vo.SectionVO" resultType="co.prj.Aproject.section.vo.SectionVO">
		select * from section
		where section_id = #{section_id}
		order by section_sort desc
	</select>
	
	<insert id="sectionInsert" parameterType="co.prj.Aproject.section.vo.SectionVO">
		insert into section (
			section_id,
			section_name,
			section_sort
		)values(
			#{section_id},
			#{section_name},
			#{section_sort}
		)
	</insert>
	
	<update id="sectionUpdate" parameterType="co.prj.Aproject.section.vo.SectionVO">
		update section set
			section_name = #{section_name},
			section_sort = #{section_sort}
		where section_id = #{section_id}
	</update>
	
	<delete id="sectionDelete" parameterType="co.prj.Aproject.section.vo.SectionVO">
		delete from section
		where section_id = #{section_id}
	</delete>

</mapper>