<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prj.Aproject.board.service.BoardMapper">
	

    <select id="boardSelectList" resultType="co.prj.Aproject.board.vo.BoardVO">
        SELECT * FROM BOARD ORDER BY BOARD_ID DESC
    </select>

    <select id="boardDetail" parameterType="int" resultType="co.prj.Aproject.board.vo.BoardVO">
        SELECT *
          FROM BOARD
         WHERE BOARD_ID = #{BOARD_ID}
    </select>

    <insert id="boardInsert" parameterType="co.prj.Aproject.board.vo.BoardVO">
        INSERT INTO BOARD
                     VALUES(board_id_seq.nextval,#{board_title},#{board_subject},default,0,#{hit},#{fileName},#{dirFileName},#{board_writer}) 
    </insert>

    <update id="boardUpdate" parameterType="co.prj.Aproject.board.vo.BoardVO">
        UPDATE BOARD
           SET
        <if test="subject != null">
            BOARD_SUBJECT = #{BOARD_SUBJECT}
        </if>
        <if test="subject != null and title != null"> , </if>
        <if test="title != null">
            BOARD_TITLE = #{BOARD_TITLE}
        </if>
        WHERE BOARD_ID = #{BOARD_ID}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE FROM BOARD WHERE BOARD_ID = #{BOARD_ID}
    </delete>

	<select id="boardSearchList" resultType="co.prj.Aproject.board.vo.BoardVO">
		SELECT * FROM BOARD
		WHERE 
		 <if test="key == 1">1 = 1</if>
		 <if test="key == 2">BOARD_WRITER = #{val}</if>
		 <if test="key == 3">BOARD_TITLE LIKE '%'||#{val}||'%'</if>
		 <if test="key == 4">BOARD_SUBJECT LIKE '%'||#{val}||'%'</if>
		ORDER BY BOARD_ID DESC
	</select>
	
	<update id="boardHitUpdate" parameterType="int">
		UPDATE BOARD SET HIT = HIT + 1 WHERE BOARD_ID = #{BOARD_ID}
	</update>
</mapper>