<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prj.Aproject.board.service.CommentMapper">

	<select id="boardCommentSelect" resultType="co.prj.Aproject.board.vo.CommentVO">
			SELECT * FROM BOARD_REPLY
		WHERE BOARD_ID = #{board_id}
	</select>
	<insert id="boardCommentInsert" parameterType="co.prj.Aproject.board.vo.CommentVO">
        INSERT INTO BOARD_REPLY(
	        board_reply_id, 
	        board_reply_subject, 
	        board_reply_date, 
	        board_id
        )VALUES(
	        BOARD_REPLY_ID_SEQ.nextval,
	        #{board_reply_subject},
	        SYSDATE,
	        #{board_id}
        )
	</insert>
	<update id="boardCommentUpdate" parameterType="co.prj.Aproject.board.vo.CommentVO">
        UPDATE BOARD_REPLY
           SET
           BOARD_REPLY_SUBJECT = #{board_reply_subject}
           WHERE BOARD_ID = #{board_id}
    </update>
    <delete id="boardCommentDelete" parameterType="int">
        DELETE FROM BOARD_REPLY WHERE BOARD_REPLY_ID = #{board_reply_id}
    </delete>
</mapper>